*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url('../assets/imges/mascotas.jpg');
    background-size: cover;
    min-height: 870px;
    max-height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;   
}

.hero h1 {
    font-weight: bold;
}

.hero p {
    font-size: 20px;

}

.btn-primary {
    background-color: burlywood;
    color:black;
    font-size: 20px;
    border: 2px solid transparent;
    min-width: 150px;
}

.btn-primary:hover{
    border: 2px solid burlywood;
    background-color: transparent;
    color: black;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    border: 2px solid burlywood;
    background-color: transparent;
    color: black;
}

.container-clase {
    background-color: rgb(233, 233, 233);
    min-height: 400px;
    max-height: 1800px;
}

.container-clase h2 {
    text-align: center;
    padding: 15px;
}

.clase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px;
}

.clase img {
    height: 300px;
    width: 300px;
    min-width: 5px;
    border-radius: 10px;
}

.clase p {
    font-size: 20px;
    max-width: 700px;
    text-align: center;  
}

.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
    gap: 50px;
    margin: 20px;
}

.card {
    border-radius: 25px;
    width: 500px;
}

.map {
    background-color: rgb(233, 233, 233);
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.map iframe {
    height: 300px;
    width: 55%;
    margin: 30px;
}

.map h2 {
    color: black;
    list-style: none;
    font-size: 70px;
    font-family: 'Grape';
    text-align: center;
}

.map-list {
    color: black;
    list-style: none;
    font-size: 20px;
    font-family: 'Grape';
    font-weight: bolder;
    text-align: center; 
    padding-right: 50px;
    min-height: 100px;
}

footer {
    background-color:dimgray;
    min-height: 40px;
    max-height: 350px;    
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Grape';
    padding: 5px 10px 0px 10px;
    font-size: 20px;
    font-weight: bolder;
    flex-wrap: wrap;    
}

@media (max-width: 480px) {
    .hero article {
        width: 100%;
    }
    
    .card {
        width: 100%;
    }
    
    .map {
        width: 100%;
    }
}