* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url('../assets/imges/mascotas.jpg');
    background-size: cover;
    min-height: 870px;
    max-height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.hero h1 {
    font-weight: bold;
}

.hero p {
    font-size: 20px;

}

.btn-primary {
    background-color: burlywood;
    color: black;
    font-size: 20px;
    border: 2px solid transparent;
    min-width: 150px;
}

.btn-primary:hover {
    border: 2px solid burlywood;
    background-color: transparent;
    color: black;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    border: 2px solid burlywood;
    background-color: transparent;
    color: black;
}

.container-clase {
    background-color: rgb(233, 233, 233);
    min-height: 400px;
    max-height: 1800px;
}

.container-clase h2 {
    text-align: center;
    padding: 15px;
}

.clase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px;
}

.clase img {
    height: 300px;
    width: 300px;
    min-width: 5px;
    border-radius: 10px;
}

.clase p {
    font-size: 20px;
    max-width: 700px;
    text-align: center;
}

.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px;
}

.card {
    border-radius: 25px;
    width: 500px;
}

.map {
    background-color: rgb(233, 233, 233);
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.map iframe {
    height: 300px;
    width: 55%;
    margin: 30px;
}

.map h2 {
    color: black;
    list-style: none;
    font-size: 70px;
    font-family: 'Grape';
    text-align: center;
}

.map-list {
    color: black;
    list-style: none;
    font-size: 20px;
    font-family: 'Grape';
    font-weight: bolder;
    text-align: center;
    padding-right: 50px;
    min-height: 100px;
}

footer {
    background-color: dimgray;
    min-height: 40px;
    max-height: 350px;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Grape';
    padding: 5px 10px 0px 10px;
    font-size: 20px;
    font-weight: bolder;
    flex-wrap: wrap;
}

/* galery */

.galery2 {
    background-color: rgb(133, 34, 34);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.galery {
    background-color: rgb(133, 34, 34);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(1px, 1fr));
    justify-items: center;
}

.box {
    width: 300px;
    height: 400px;
    font-size: 20px;
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.box h2 {
    font-size: 30px;
}

.box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
}

.i1 {
    background-color: black;
    color: white;
}

.i2 {
    background-color: black;
    color: white;
}

.i3 {
    background-color: black;
    color: white;
}

.i4 {
    background-color: black;
    color: white;
}

.i5 {
    background-color: black;
    color: white;
}

.i6 {
    background-color: black;
    color: white;
}

.i7 {
    background-color: black;
    color: white;
}

.i8 {
    background-color: black;
    color: white;
}

.i9 {
    background-color: black;
    color: white;
}

.i10 {
    background-color: black;
    color: white;
}

.i11 {
    background-color: black;
    color: white;
}

.i12 {
    background-color: black;
    color: white;
}



/* servicios */

.servicios {
    background-color: rgb(133, 34, 34);
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'control control'
        'vacunacion castracion';
    gap: 10px;
}

.servicios-box {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    min-height: 250px;
    max-height: 100%;
    margin: 10px;
    text-align: center;
}

.s1 {
    grid-area: control;
}

img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
}

h2 {
    flex-direction: column;
}


.s2 {
    grid-area: vacunacion;
}

.s3 {
    grid-area: castracion;
}



/* contacto*/

.contacto-container {
    min-width: 100%;
    max-height: 100%;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    border: 5px solid black;
    align-items: center;    
}
    h2 {
        text-align: center;
    }

.contacto {
    background-color: chocolate;
    border: 2.5px solid black;
    margin: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row-reverse;
   
}

.contacto-text {
    width: 50%;
    text-align: center;

}

form input,
form textarea {
  width: 100%;
  
  font-size: 20px;
  border: 1px solid black;
 
}

.contacto-map {
    width: 50%;
}
    iframe {
        width: 100%;
        height: 100%;
    }


/*media queries*/

@media (max-width: 1024px) {
    .servicios-box {
        background-color: blue;

    }
}

@media (max-width: 768px) {
    .servicios {
        grid-template-areas:
            'castracion castracion'
            'vacunacion control';
    }

    .servicios-box {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .servicios, .contacto-map, .contacto-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contacto-container, .contacto {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
}


